.home {
  height: 100vh;
  width: 100vw;
  background-image: url(../../images/sunset.jpg);
  background-size: cover;
  /* position: absolute; */
}

.all-title {
  position: absolute;
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
}

.home-image {
  width: 30%;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}

.title {
  position: relative;
  margin-top: 2%;
  font-family: "Abril Fatface";
  color: #d6672b;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.subtitle {
  font-family: "Abril Fatface";
  font-size: 30px;
  position: relative;
  margin-top: 2%
}

.paragraph {
  position: relative;
  width: 100%;
  /* margin-top: 2%; */
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  /* line-height: 22px; */
}

.get-started {
	background-color:#3f155f;
	border-radius:6px;
	border:1px solid #3f155f;
	display:inline-block;
	cursor:pointer;
	color:#dddddd;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  text-decoration:none;
  margin-top: 2%;
}
.get-started:hover {
  background-color:#c2aaf0;
}
.get-started:active {
  position:relative;
	top:1px;
}

.contact-me {
  background-color:#3f155f;
	border-radius:6px;
	border:1px solid #3f155f;
	display:inline-block;
	cursor:pointer;
	color:#dddddd;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  text-decoration:none;
  /* margin-top: 285px; */
  margin-left: 10px;
  margin-top: 2%;
}
.contact-me:hover {
	background-color:#c2aaf0;
}
.contact-me:active {
	position:relative;
	top:1px;
}