.contact-me-header {
    font-family: "Abril Fatface";
    font-size: 50px;
    text-align: center;
}

.form-div {
  width: 33%;
  margin: auto;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 20px;
  margin-top: 3%
}

.form-div input {
  margin-left: 5px;
}
.form-div select {
  margin-left: 5px;
  width: 30%
}
.form-div textarea {
  width: 100%;
  height: 100px;
}

.checkbox {
    margin-left: 10%;
}

.checkbox label {
    margin-left: 2%;
}

.success-paragraph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
}


.submit-button {
	background-color:#3f155f;
	border-radius:6px;
	border:1px solid #3f155f;
	display:inline-block;
	cursor:pointer;
	color:#dddddd;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  text-decoration:none;
}
.submit-button:hover {
	background-color:#c2aaf0;
}
.submit-button:active {
	position:relative;
	top:1px;
}