.home img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.image1 {
  position: absolute;
}

.image2 {
  position: absolute;
  height: 500px;
  margin-left: 950px;
  margin-top: 100px;
}

.all-title {
  position: absolute;
  width: 800px;
  height: 300px;
  margin-top: 15%;
  margin-left: 5%;
}

.title {
  font-family: American Typewriter, serif;
  font-size: 50px;
  position: absolute;
  margin-top: 10px;
}

.subtitle {
  font-family: American Typewriter, serif;
  font-size: 30px;
  position: absolute;
  margin-top: 60px;
}

.paragraph {
  position: absolute;
  width: 745px;
  margin-top: 100px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 22px;
}

.get-started {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #85b319 5%, #a5cc52 100%);
  background-color: #85b319;
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e5fcc0;
  margin-top: 285px;
}
.get-started:hover {
  background: linear-gradient(to bottom, #a5cc52 5%, #85b319 100%);
  background-color: #a5cc52;
}
.get-started:active {
  position: relative;
  top: 1px;
}
